@font-face {
    font-family: 'iransans';
    src: url('fonts/Iransans.eot');
    src: url('fonts/Iransans.eot?#iefix') format('embedded-opentype'),
         url('fonts/Iransans.woff') format('woff'),
         url('fonts/Iransans.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'iransans-bold';
    src: url('fonts/Iransans-Bold.eot');
    src: url('fonts/Iransans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Iransans-Bold.woff') format('woff'),
         url('fonts/Iransans-Bold.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
}

body {
	background: linear-gradient(225deg, #21d4fd, #b721ff, #ff3cac, #784ba0, #2b86c5);
	background-size: 1000% 1000%;

	-webkit-animation: AnimationName 120s ease infinite;
	-moz-animation: AnimationName 120s ease infinite;
	-o-animation: AnimationName 120s ease infinite;
	animation: AnimationName 120s ease infinite;

	text-align: center;
	position: relative;
	min-width: 500px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes AnimationName { 
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.card {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
	min-width: 400px;
    height: 60%;
	min-height: 400px;
	max-height: 500px;
    margin: auto;
	background: #fff;
	border-radius: 5px;
	display: inline-block;
	box-shadow: 0 28px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-align: center;
}

.name{
	margin-top: 40px;
	font-family: 'iransans-bold';
	font-size: 50px;
}

.work {
	font-family: 'iransans';
	word-spacing: -2px;
	font-size:25px;
	color: #808080;
}

.bio {
	font-size: 25px;
	font-family: 'iransans-bold';
	margin-top: 60px;
	margin-bottom: 40px;
	word-spacing: -2px;
	
}

.social {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	font-size: 30px;
}

a {
	color: inherit;
	text-decoration: none;
}

#instagram:hover {
	color: #d6249f;
}

#telegram:hover {
	color: 0088cc;
}

#mail:hover {
	color: 	#c71610;
}